/databases/
.DS_Store
**/input/
**/output/
!**/example/**/input/
!**/example/**/output/
/catboost_info/

/example/data_preprocessing/input/HF_HRC_GWAS_UKBB_EUR_HF.txt.gz
/example/data_preprocessing/output/HF_HRC_GWAS_UKBB_EUR_HF.txt.gz
/example/data_preprocessing/output/variants/Annotated_GWAS_HF.csv